body {
    width: 100%!important;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        font-family: Lato;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.banner-content {
   background: url('http://placehold.it/1920x350') no-repeat center center;
   background-size: cover;
   text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 8%;
}

#sameline {
  display: inline;
  text-align:   justify;
  text-transform: uppercase;
  font-size: 20px;
  color: #a6e6fc;
}


#sameline:hover{
  color: white;
  letter-spacing: 3px;
  text-decoration: none;

}

.about-section {

  min-height: 100%;
  padding-top: 5%;
  background: #F7F9FE;
}

.about-box {
  background: #BED2D9;
  padding: 5%
}

.portfolio-section {

  min-height: 100%;
  padding-top: 5%;
  background: #BED2D9;
  /*overflow-y: scroll; */
  padding-bottom: 5%;
}

.contact-section {
  height: 100%;
  min-height: 640px;
  padding-top: 5%;
  background: #F7F9FE;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#BED2D9;
  height: 1.5px;
}

.tab-content {
  text-align: center;
}

.nav-tabs > li > a {
  color: black;
  text-align: center;
  background-color: #DCE8EB;

}


.tab-content{
    padding:5px;
    background-color: #F7F9FE;

}

.nav-tabs > li > a:hover{
  background-color: #F7F9FE !important;
    border-bottom: none;

    color:black;
}

.active a {
  background-color: #F7F9FE !important;
  color: black !important;

}

.category {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 2px;
}



h1{
  font-family: Oswald;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 1%;
}

h3 {
  font-family: Oswald;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0;
}

p {
  font-family: Lato;
  line-height: 30px;
}

.git-link{
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 10;
}


.desc {
  border-radius: 4px;
  padding: 3%;
  padding-top: 1%;

  max-height: 170px;
  border-left: 2px #BED2D9 solid;


}

.thumbnail {
  margin-bottom: 0;
}

.pblock{
    padding-top: 2%;
    padding-left: 2%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 2%;
    padding-bottom: 2%;

}

.dblock{
  padding-top: 2%;
}


.caption {
 margin: 0 auto;
 margin-top: -40%;
 text-align:center;
 color: transparent;
 font-family: Lato;

}

.mouseover:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s all;
  cursor: pointer;
  color:white;
}


.mouseover:hover .caption{
  color:white;
  transition: 1s all;

}
.modal-open {
    overflow: visible;
}
.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right:0px!important;
}
