html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #22313F;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.topNav {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.topNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.3s;
}

.topNav a:hover {
  background-color: #0c0f1a;
}

.topNav a.active {
  background-color: #0c0f1a;
  color: #73f2ff;
  margin-right: 10px;
}

.topNav .icon {
  display: none;
}

canvas {
    margin: 0 auto;
    background: #0c0f1a;
}

.banner {
    position: relative;
    height: 60vh;
    background: #0c0f1a;
}

.banner h1 {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    font-size: 5em;
    font-weight: 600;
    margin: auto;
    letter-spacing: 4px;
}

.banner h2 {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-weight: 600;
    margin: auto;
    letter-spacing: 4px;
}

.banner h2 p {
    font-size: 2.5rem;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    letter-spacing: normal;
    margin: 0;
    margin-left: 120px;
}

#extLinks {
  float: right;
}

#extLinks a, #extLinks a:visited {
  font-size: 1.3em;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: right;
  line-height: 1.46em;
}

#extLinks a:hover {
  letter-spacing: 1px;
  color: #60ccff;
  background-color: #0c0f1a;
}

.banner::before {
  /*content: "";*/
  height: 700px;
  width: 700px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -430px;
  top: 9vh;
}

#featured {
  /*background-image: linear-gradient(176deg, #59abff 70%, #F4F4F4 calc(70% + 2px));
  padding-bottom: 300px;*/
  background: #59abff;
  max-height: 560px;
  background: linear-gradient(to bottom,#017af8 0%,#0065cd 100%);
}

.panels {
  padding: 20px 0;
  display: block;
  width: auto;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  position: relative;
}

#featured .panels {
  top: -200px;
}

.panels a {
  text-decoration: none;
  position: relative;
  text-align: center;
}

.panels a:hover img {
  transform: scale(1.05);
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.panels img {
  display: inline-block;
  transition: 0.3s;
  margin-bottom: 2%;
  border-radius: 8px;
}

/*
#featured .panels a:nth-child(even) img {
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

#featured .panels a:nth-child(odd) img {
  -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 100%, 0 95%);
  clip-path: polygon(0 0%, 100% 5%, 100% 100%, 0 95%);
}
*/

.panels a h2 {
    position: absolute;
    top: -8.5vw;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0;
    transition: 0.3s;
    color: #ffffff;
    font-size: 2.3em;
    line-height: 1.1em;
    text-shadow: 2px 2px 8px #000000;
/*    transform: translateY(30px);
    -webkit-transform: translateY(30px)*/
}

.panels a h2 span {
    font-size: 0.5em;
}

#featured .panels a h2 {
    top: -315px;
}

.panels a:hover h2 {
  opacity: 1;
  transform: translate(-50%, -50%);
  /*transform: translateY(0px);
  -webkit-transform: translateY(0px);*/
}

.blurb {
  text-align: left;
  font-family: Oxygen;
  width: 85%;
  margin: auto;
  font-size: 1.3em;
  color: #1c1c1c;
  padding-top: 70px;
}

#code .blurb {
  color: #ffffff;
}

.blurb h2 {
  margin: 0 0 10px;
}

.blurb p {
  font-family: 'Roboto';
  line-height: 1.4em;
}

#code {
  /*background: #F4F4F4;
  height: 600px;*/
  background-color: #0079f6;
  padding-bottom: 20px;
}

#web {
  /*background-image: linear-gradient(176deg, #59abff 70%, #F4F4F4 calc(70% + 2px));*/
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

#webHolder {
  width: 82%;
  display: block;
  margin: auto;
  background: #0c0f1a;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  top: -120px;
}

#webHolder .blurb {
  width: auto;
  padding-top: 0;
  color: #f5f5f5;
}

#webHolder .panels {
  max-width: unset;
}

#misc {
  background: #0c0f1a;
}

#web .panels,  #code .panels, #misc .panels {
  max-width: 89%;
}

#web .panels img, #code .panels img, #misc .panels img {
  width: 31%;
  object-fit: cover;
  margin: 7px;
}

#misc .blurb {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #web .panels img, #code .panels img, #misc .panels img {
    width: 45.5%;
  }

  .panels a:hover h2 {
    transform: translate(-50%, -100%)
  }
}

/* Fix text bug that only this particular panel has
@media screen and (max-width: 746px) {
  #webHolder .panels a:nth-child(2) h2 {
    transform: translate(20%, -10%)
  }
  #webHolder .panels a:nth-child(2):hover h2 {
    transform: translate(22%, -100%);
  }
}
/* end fix */

@media screen and (max-width: 850px) {
  .topNav a.icon {
    display: none;
  }

  .banner::before {
    display: none;
  }
}

#featured .panels img {
  width: 22.10%;
  height: 550px;
  object-fit: cover;
  border-radius: 0;
}

#featured .panels a:first-child img {
  margin-right: 0.7%;
}

#featured .panels a:last-child img {
  margin-left: 0.7%;
}

#featured .panels a:nth-child(2) img {
  margin-right: 0.35%;
}

#featured .panels a:nth-child(3) img {
  margin-left: 0.35%;
}

@media screen and (max-width: 720px) {
  #webHolder {
    padding: 0;
    width: 100%;
    border-radius: 0;
  }

  #webHolder .blurb, .blurb {
    width: 85%;
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }

  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .panels a h2 {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 506px) {
  #web .panels img, #code .panels img, #misc .panels img {
    width: 90%;
  }
}


@media(min-width:767px) {
  .navbar {
      padding: 20px 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
      font-family: 'Open Sans';
      background-color: #DDDDDC;
  }

  .top-nav-collapse {
      padding: 0;
  }
}

/*** background object/accents ***/
#featured::before {
  content: "Featured";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5.5em;
  position: absolute;
  top: 621px;
  left: -23px;
  color: #ffffff61;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#featured .panels::before {
  content: "";
  height: 620px;
  width: 250px;
  background-color: #fea;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  right: -575px;
  bottom: -145px;
}

#code::after {
  content: "";
  height: 130px;
  width: 100%;
  background-image: linear-gradient(176deg, #017af8 50%, #0c0f1a calc(50% + 2px));
  bottom: 0px;
  z-index: 0;
  display: block;
  margin-top: 0px;
  position: relative;
  top: 20px;
}

/*** Banner text rotater CSS ***/

.word {
  position: absolute;
  width: auto;
  opacity: 0;
  bottom: 9px;
  right: 48.1%;
  text-align: right;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.yellow {
  color: #FFC651;
}

.blue {
  color: #268DF7;
}

.orange {
  color: #ff6c50;
}

.purple {
  color: #606483;
}
