* {
  box-sizing: border-box;
  color: white;

}


/* .row:after {
    content:"";
    display: table ;
    clear:both;
}
*/

body {
  margin: 0px;
  background-color: #222222;
  font-family: 'Open Sans', sans-serif;

}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /*  gutter  */
    padding: 12px;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.row{
  width:100%;
  overflow: hidden;
}

.page-top {
  text-align:center;
  border-radius:3px;
  background-color: #0F006B;
  overflow: auto;
  position: fixed;
  border-bottom: 3px solid #222222;
  z-index: 1; /* Prevents opaque text from being painted over the navbar */

}

.page-top h1 {
  font-size: 50px;
  letter-spacing: 3px;
  font-variant-ligatures: no-common-ligatures; /* Stops certain letters from sticking together */
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 0px;
  color: White;
  text-shadow: 3px 2px black;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15px;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: #222222;
  height: 2px;
  margin: 0px;
}

.category {
  background: #222222;
  overflow: auto;
  padding-left: 3%;
  padding-right: 3%
}

input[type=text] {
   width: 100%;
   height: 60px;
}


#textfield {
  color: black;
  padding-left: 20px;
}

.button{
  padding-right: 0px;
}

input.right {
    float: right;

}

input[type=submit] {
    width: 200px;
    height: 50px;
    background-color: #D52525;
}

.activity-feed{
  overflow-x: hidden;
  /* overflow-y: scroll;
  max-height: 60vh; */
}

.status-wrapper{
  overflow:hidden;
  background-color: #131416;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-top: 10px;

}

.timestamp{
  opacity: 0.6;
  float: right;
  text-align: right;
  overflow: hidden;
  margin: 0px;
  margin-bottom: 90px;
}



h3 {
  font-size: 24pt;
  margin-top: 5px;
  margin-bottom: 0px;
  display:inline-block;
  vertical-align:top;
  margin-left: 10px;
}

.status-body{
  padding: 12px;
}

.review-body{
  padding-left:18px;
}

.review-footer{
  padding: 18px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
    background-color: white;
    width: 98%;
    height: 1.2px;
}


.heart{
  color:red;
  display: inline;
}

.comments {
  display: inline;
  margin-left: 10px;
}

h4 {
  margin: 10px;
  opacity: 0.6;
}

.review-wrapper{
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #131416;
  border-radius: 15px;
}


/* Elements unique to the Forum page */

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131416;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 132px;
    padding-left: 10px;

}

.sidebar a {
    padding: 6px 8px 6px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: color 1s;
}

.sidebar a:hover{
  color: #66BFFF
}

.subtitle{
  margin: 0px;
}

.new-thread {
  width: 140px;
  height: 30px;
  background: #4794cc;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: -2.5px;
  margin-top: 0px;
  border-radius: 5px;
  transition: 1s;

}

.new-thread:hover {
  background: #66BFFF;
}


.main {
    margin-left: 160px;
    padding: 0px 10px;
    background: #222222;
}

.sticky{
  text-align: center;
  margin-top: 120px;

}

.thread {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  background: #131416;
  color: #66BFFF;
  transition: color 1s;
  font-family: 'montserrat';
}

.thread:hover{
  color: #bce3ff;
}

.thread-block{
  text-decoration: none;
  background: #131416;
  margin-left: 12px;
  padding-top: 0px;
  border-radius: 15px;
  padding-bottom: 0px;
}


/* This removes some extraneous white space above thread titles */
.thread-block a{
  margin-left:0px;
}

.extra-padding{
  padding-right: 24px;
  margin-bottom: 24px;
}

.extra-margin{
  margin-top: 150px;
}



.preview {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
}

.thread-latest{
/* TODO: opacity makes this shine through the header on scroll... */
  opacity: 0.6;
  padding-left: 0px;
}

.thread-replies{
  text-align: right;
  opacity: 0.6;
}
